---
layout: default
---

<head>
  <link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
</head>

<article class="post-container post-container--single" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <img src="/images/calendar.png" width="20px"/> 
      <time datetime="{{page.date | date: date_to_xmlschema}}" itemprop="datePublished" class="post-meta__date date">{{page.date | date: "%F"}}</time>  

      <span id="busuanzi_container_page_pv"> | 阅读：<span id="busuanzi_value_page_pv"></span>次</span>
    </p>
    </div>
  </header>
  <!-- 添加搜索框 -->
  <div id="search-box">
    <input type="text" id="search-input" placeholder="Search...">
    <div id="search-results"></div>
  </div>
  {% if site.enableToc %}
    <h2 class="post-title">目录</h2>
    {% include toc.html html=content %}
  {% endif %}

  <section class="post">
    {{ content }}
  </section>

</article>

{% include new-old.html %}
{% include comments.html %}
<!-- 添加搜索框 JavaScript 代码 -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.8.6/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.19.2"></script>
<script>
  const searchClient = algoliasearch(
    'YOUR_ALGOLIA_APP_ID',
    'YOUR_ALGOLIA_SEARCH_ONLY_API_KEY'
  );
  const search = instantsearch({
    indexName: 'YOUR_ALGOLIA_INDEX_NAME',
    searchClient,
  });
  search.addWidgets([
    instantsearch.widgets.searchBox({
      container: '#search-input',
    }),
    instantsearch.widgets.hits({
      container: '#search-results',
      templates: {
        item: `
          <div>
            <a href="{{url}}">{{title}}</a>
            <p>{{{_highlightResult.content.value}}}</p>
          </div>
        `,
      },
    }),
  ]);
  search.start();
</script>
